<p style="color: green"><%= notice %></p>

<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_topic_post_comment_path(@post.topic,@post,@comment),class:"link" %> |
  <%= link_to "Back to comments",  topic_post_comments_path(@post.topic,@post),class:"link"%>

  <%= button_to "Destroy this comment",topic_post_comment_path(@post.topic,@post,@comment), method: :delete,class:"button" %>
</div>
