<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<div >
  <% @topics.each do |topic| %>
      <%= render topic %>

      <%= link_to "Show this topic", topic ,class: "link"%><br><br>
      <%= link_to "Show Posts",topic_posts_path(topic),class: "link" %>
    <br>
  <% end %>

</div>
<br>
<%= link_to "New topic", new_topic_path,class: "link" %>
