<p style="color: green"><%= notice %></p>

<h1>Topics</h1>

<div >
  <% @topics.each do |topic| %>
    <%= render topic %>

      <%= link_to "Show this topic", topic %><br>
      <%= link_to "Show Posts",topic_posts_path(topic) %><br>
  <% end %>
</div>

<%= link_to "New topic", new_topic_path %>
