<p style="color: green"><%= notice %></p>

<%= render @topic %>

<div>
  <%= link_to "Edit this topic", edit_topic_path(@topic) ,class: "link"%>
  <%= link_to "Back to topics", topics_path ,class: "link"%>
<br><br>
  <%= button_to "Destroy this topic", @topic, method: :delete,class: "button" %>
</div>
