<%= form_with(model: [@post.topic,@post,@rating]) do |form| %>
  <% if @rating.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
        <% @rating.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>

    <%[1,2,3,4,5].each do |star| %>
    <%=radio_button_tag 'rating[star]', star, @rating.star == star%>
      <%=label_tag "#{star} star" %>
    <%end %>
  </div>

  <div>
    <%#= form.label :post_id, style: "display: block" %>
    <%#= form.text_field :post_id %>
  </div>
   <div>
    <%= form.submit %>
  </div>
<% end %>
