<%= form_with(model: [@topic, @post]) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%=form.label :tag_ids, 'Tags'%><br>
    <% Tag.all.each do |tag| %>

         <%= form.check_box :tag_ids,{multiple: true}, tag.id,nil %>
         <%= form.label tag.name %>
       <br>
    <% end %>
  </div>
  <div>
    <%= form.label :tag_names, 'New Tags ' %>
    <%= form.text_field :tag_names %>
  </div>
  <div>
    <%= form.file_field :image %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

