<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% if params[:topic_id].present? %>
      <% @posts.each do |post| %>
        <%= render post %>

          <%= link_to "Show this post", topic_post_path(post.topic, post) %>

      <% end %>

    <%= link_to "New post", new_topic_post_path %><br>
    <%= link_to "Back to Topics",topics_path %>
  <%else %>
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  <%end %>
</div>
