<p style="color: green"><%= notice %></p>

<h1>Posts</h1>
<div >
  <% if params[:topic_id].present? %>
      <p>
      <% @posts.each do |post| %>
          <div class="box">
            <%= render post %>
            <strong>Status: </strong>
            <%= 'unread' if current_user.read_posts.exclude?(post) %>
            <%=  'Read' if current_user.read_posts.include?(post)%>
          </div>

      <br>
      <%= link_to "Comments",topic_post_comments_path(post.topic,post),class: "link" %>
      <br><br>

          <%= link_to "Show this post", topic_post_path(post.topic, post) ,class: "link" %>

      <% end %>
      </p>

    <div id="new-post-form-container">
      <%=link_to "new post",new_topic_post_path,class:"link",remote: true %>
    </div>

    <%#= turbo_frame_tag "new_post_form" do%>
    <%#= link_to "New post", new_topic_post_path ,class: "link"%>
    <%#end %>
     <%= link_to "Back to Topics",topics_path ,class: "link"%> <br><br>
    <%= link_to_previous_page @posts, '<<Previous page ' ,class: "link" %>
    <%= link_to_next_page @posts, ' Next page>>',class: "right"%>
  <%else %>
    <% @posts.each do |post| %>
      <%= render post %><br>
      <%= link_to "Show this post", topic_post_path(post.topic, post) ,class: "link" %>

<% end %>
    <br><br>
    <%= link_to_previous_page @posts, '<< Previous page ' ,class: "link" %>
    <%= link_to_next_page @posts, ' Next page >>',class: "right"  %>

  <%end %>
</div>
<script>
    // Show loading overlay when the page starts loading
    window.addEventListener('beforeunload', function() {
        document.getElementById('custom-loading-overlay').style.display = 'block';
    });

    // Hide loading overlay when the page is fully loaded
    window.addEventListener('load', function() {
        document.getElementById('custom-loading-overlay').style.display = 'none';
    });
</script>