<p style="color: green"><%= notice %></p>
<div class="box">
  <%= render @post %>
  <strong> Image :</strong> <br>
  <% if (@post.image.attached?) %>
    <%=image_tag @post.image %>
  <%else %>
    <%= "No Image" %>
  <%end %><br>


  <strong>Ratings:</strong><br>
  <% @star_counts.each do |star,count| %>
  <%="#{star} star : #{count}" %><br>
  <% end %>
</div>


<div>
  <%= link_to "Edit this post", edit_topic_post_path(@post.topic,@post) ,class: "link"  %> |
  <%= link_to "Back to posts",topic_posts_path ,class: "link"%><br><br>

  <%= button_to "Destroy this post",  topic_post_path(@post.topic, @post), method: :delete ,class: "button"%>
</div>
<div>

  <%= link_to "Comments",topic_post_comments_path(@post.topic,@post),class: "link" %>
  <%= render "ratings/form",rating: @rating %>
  <%#= link_to "New Ratings", new_topic_post_rating_path(@post.topic,@post) %>
</div>
