<p style="color: green"><%= notice %></p>
<script>
    <% if current_user.read_posts.exclude?(@post.id) %>
    document.addEventListener('DOMContentLoaded', function() {
        var postId = <%= @post.id %>;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '<%= mark_as_read_topic_post_path(@post.topic, @post) %>', true);
        xhr.setRequestHeader('X-CSRF-Token', '<%= form_authenticity_token %>');
        xhr.send();
        console.log('DOM content has been fully loaded.');
    });
    <% end %>
</script>
<div class="box">
  <%= render @post %>
  <br><strong> Image :</strong> <br>
  <% if (@post.image.attached?) %>
    <%=image_tag @post.image %>
  <%else %>
    <%= "No Image" %>
  <%end %><br>

   <%= render 'ratings/rating',star_counts: @star_counts %>


</div>

<div>
  <%if can?(:manage,@post) %>
    <%= link_to "Edit this post", edit_topic_post_path(@post.topic,@post) ,class: "link"  %> |
    <br>
    <%= button_to "Destroy this post",  topic_post_path(@post.topic, @post), method: :delete ,class: "button"%>

<% end %>
  <%#= link_to "Edit this post", edit_topic_post_path(@post.topic,@post) ,class: "link"  %> |
  <%= link_to "Back to posts",topic_posts_path ,class: "link"%><br><br>

  <%#= button_to "Destroy this post",  topic_post_path(@post.topic, @post), method: :delete ,class: "button"%>
</div>
<div>

  <%= render "ratings/form",rating: @rating %>
  <%#= link_to "New Ratings", new_topic_post_rating_path(@post.topic,@post) %>
</div>
